/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  all: unset;
  padding: 5px;
  background-color: white;
  color: black;
  border-radius: 5px;
}

button:hover {
  background-color: rgb(116, 116, 116);
  cursor: pointer;
}

#container {
  height: 100vh;
  width: 100vw;
  background-color: lightsteelblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gameBox {
  height: 700px;
  width: 700px;
  padding: 50px;
  background-color: darkblue;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#gameBoard {
  background-color: white;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#startRestart {
  margin-top: 25px;
  margin-bottom: -25px;
}

.gameSquare {
  border: black 1px solid;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 80px;
  font-family: Arial, Helvetica, sans-serif;
}

.validPlay {
  background-color: white;
}

#popUpContainer {
  z-index: 5;
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.212);
  justify-content: center;
  align-items: center;
}

#popUp {
  padding: 10px;
  background-color: rgb(0, 0, 0);
  border: 1px black solid;
  color: white;
  border-radius: 5px;
  align-self: center;
  justify-self: center;
  display: grid;
  grid-template-rows: 25px 1fr 25px 1fr 1fr;
}

#popUp div {
  padding: 10px;
  border: white solid 1px;
  border-radius: 5px;
}

#popUp > p {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#formButtons {
  display: flex;
  margin-top: 10px;
  justify-content: space-around;
  align-items: center;
}

#formButtons button {
  width: 50px;
  text-align: center;
}
